.font { font-family: Sans-Serif; }
body {
  font-family: Sans-Serif;
  background-color: #777777;
  text-shadow: #111111 1px 1px 3px;
  color: #ffffff;
  margin: 0;
  padding: 1em;
  -webkit-text-size-adjust: none;
}
a {
  text-decoration: none;
  text-shadow: #444444 1px 1px 3px;
}
a:hover {
  text-decoration: underline;
  color: red;
}
a:visited { color: #000080; }
a:visited:hover { color: red; }
code, pre {
  display: block;
  overflow: auto;
  font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, Courier, monospace;
  color: #ffffff;
  background-color: #222222;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 10px 10px 10px #333333;
  -moz-box-shadow: 10px 10px 10px #333333;
  -webkit-box-shadow: 10px 10px 10px #333333;
  padding: 0.8em;
  margin: 0.3em 0.1em 0.3em 0.1em;
}
fieldset { width: 10em; }
h1 { font-family: CandelaBook, Arial, sans-serif; }
h1 a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: #111111 2px 2px 4px;
}
h1 a:hover {
  text-decoration: underline;
  color: #ffffff;
}
h1 a:visited { color: #ffffff; }
h2 { font-family: CandelaBook, Arial, sans-serif; }
h2 a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: #111111 2px 2px 4px;
}
h2 a:hover {
  text-decoration: underline;
  color: #ffffff;
}
h2 a:visited { color: #ffffff; }
h3 { font-family: CandelaBook, Arial, sans-serif; }
h3 a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: #111111 2px 2px 4px;
}
h3 a:hover {
  text-decoration: underline;
  color: #ffffff;
}
h3 a:visited { color: #ffffff; }
h4 { font-family: CandelaBook, Arial, sans-serif; }
h4 a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: #111111 2px 2px 4px;
}
h4 a:hover {
  text-decoration: underline;
  color: #ffffff;
}
h4 a:visited { color: #ffffff; }
h5 { font-family: CandelaBook, Arial, sans-serif; }
h5 a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: #111111 2px 2px 4px;
}
h5 a:hover {
  text-decoration: underline;
  color: #ffffff;
}
h5 a:visited { color: #ffffff; }
img { border: none; }
input:focus {
  border: 1px solid #000000;
  padding: 1px;
}
textarea:focus {
  border: 1px solid #000000;
  padding: 1px;
}
input, textarea, select {
  border: 1px solid #cccccc;
  padding: 1px;
}
#comment_submit {
  text-shadow: #aaaaaa 1px 1px 1px;
  margin-left: 110px;
  margin-top: -10px;
  background-color: #dcdcdc;
  color: #000000;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#comment_submit:hover {
  text-shadow: #000000 1px 1px 4px;
  background-color: #ffffff;
}
#login_box {
  display: none;
  font-family: Sans-Serif;
  background-color: #999999;
  color: #ffffff;
  padding: 8px;
}
.main_nav { display: none; }
#welcome {
  padding: 2px 8px 2px 12px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #999999;
  color: #ffffff;
  border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
}
#heading { text-align: center; }
#title { margin: 0 0 -0.3em 0; }
#title a:hover { text-decoration: none; }
#prev_entry {
  display: inline;
  margin: 0 1em 0 0;
}
#prev_entry:before { content: '« '; }
#next_entry {
  display: inline;
  margin: 0 0 0 1em;
}
#next_entry:after { content: " »"; }
.comment {
  min-height: 100px;
  position: relative;
  padding: 1em 0.5em 1.5em 0.5em;
  margin: 0 0.5em 0 0.5em;
  background-image: url(/css/img/arrow.png);
  background-repeat: no-repeat;
  background-position: 95px 21px;
}
.comment .avatar {
  float: left;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.comment_body {
  padding: 10px;
  color: #000000;
  background-color: #dcdcdc;
  text-shadow: #aaaaaa 1px 1px 1px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 7px 7px 10px #333333;
  -moz-box-shadow: 7px 7px 10px #333333;
  -webkit-box-shadow: 7px 7px 10px #333333;
  margin-top: 0;
  margin-left: 95px;
  margin-bottom: 1.2em;
}
.comment_body textarea {
  font-family: Sans-Serif;
  text-shadow: #aaaaaa 1px 1px 1px;
  color: #000000;
  width: 600px;
  border: 0;
  border-color: #dcdcdc;
  outline: 0;
  outline-color: #dcdcdc;
  background-color: #dcdcdc;
  margin: 0;
  padding: 0;
}
.comment_footer {
  position: absolute;
  bottom: 0;
  margin-top: 5px;
}
