@font-face {
 font-family: 'CandelaBook';
 src: url('/fonts/Candela/CandelaBook-webfont.eot');
 src: local('CandelaBook'), url('/fonts/Candela/CandelaBook-webfont.woff') format('woff'), url('/fonts/Candela/CandelaBook-webfont.ttf') format('truetype'), url('/fonts/Candela/CandelaBook-webfont.svg#webfont') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'CandelaBookItalic';
 src: url('/fonts/Candela/CandelaItalic-webfont.eot');
 src: local('CandelaBookItalic'), url('/fonts/Candela/CandelaItalic-webfont.woff') format('woff'), url('/fonts/Candela/CandelaItalic-webfont.ttf') format('truetype'), url('/fonts/Candela/CandelaItalic-webfont.svg#webfont') format('svg');
 font-weight: normal;
 font-style: italic;
}

@font-face {
 font-family: 'CandelaBold';
 src: url('/fonts/Candela/CandelaBold-webfont.eot');
 src: local('CandelaBold'), url('/fonts/Candela/CandelaBold-webfont.woff') format('woff'), url('/fonts/Candela/CandelaBold-webfont.ttf') format('truetype'), url('/fonts/Candela/CandelaBold-webfont.svg#webfont') format('svg');
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'CandelaBoldItalic';
 src: url('/fonts/Candela/CandelaBoldItalic-webfont.eot');
 src: local('CandelaBoldItalic'), url('/fonts/Candela/CandelaBoldItalic-webfont.woff') format('woff'), url('/fonts/Candela/CandelaBoldItalic-webfont.ttf') format('truetype'), url('/fonts/Candela/CandelaBoldItalic-webfont.svg#webfont') format('svg');
 font-weight: bold;
 font-style: italic;
}

body
{
 font-family: "Trebuchet MS", Trebuchet, Verdana, Tahoma, Arial, Sans-Serif;
 font-size: 0.8em;
 background-color: #999;
 color: #FFF;
 margin: 0;
 padding: 1em;
}

html
{
 margin:0 auto;
 width:780px;
 background-image: url('/css/img/black_tile.jpg');
}

a {
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
 color: red;
}

a:visited {
 color: #000080;
}

code, pre {
 display: block;
 overflow: auto;
 font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, Courier, monospace;
 color: #000;
 background-color: #DCDCDC;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 8px;
 padding: 0.3em;
 margin: 0.3em 0.1em 0.3em 0.1em;
}

fieldset
{
 width: 10em;
}

h1, h2, h3, h4, h5 {
 font-family: CandelaBook, Arial, sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
 text-decoration: none;
 color: #FFF;
 text-shadow: #222 2px 2px 4px;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
 text-decoration: underline;
 color: #FFF;
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {
 color: #FFF;
}

img
{
 border:none;
}

input:focus, textarea:focus 
{
 border: 1px solid #000;
 padding: 1px;
}

input, textarea, select
{
 border: 1px solid #CCC;
 padding: 1px;
}

.alert_text {
 color: red;
 font-weight: bold;
}

#login_box {
 display: none;
 font-family: "Trebuchet MS", Trebuchet, Verdana, Tahoma, Arial, Sans-Serif;
 font-size: 0.8em;
 background-color: #999;
 color: #FFF;
 padding: 8px;
}

#login_box h1 {
 font-size: 1.2em;
}

#welcome {
 padding: 2px 8px 2px 12px;
 margin: 0;
 position:absolute;
 top: 0;
 left: 0;
 background-color:#999;
 color: #FFF;
 font-size:0.85em;
}

#heading {
 text-align: center;
}

#title {
 font-size: 5em;
 margin: 0 0 -0.3em 0;
}

#title a:hover {
 text-decoration: none;
}

#prev_entry {
 display:inline;
 margin:0 1em 0 0;
}

#next_entry {
 display:inline;
 margin:0 0 0 1em;
}

#entry {
 font-size: 120%;
}
