@font-face {
  font-family: 'CandelaBook';
  src: url('/fonts/Candela/CandelaBook-webfont.eot');
  src: local('CandelaBook'), url('/fonts/Candela/CandelaBook-webfont.woff') format('woff'), url('/fonts/Candela/CandelaBook-webfont.ttf') format('truetype'), url('/fonts/Candela/CandelaBook-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CandelaBookItalic';
  src: url('/fonts/Candela/CandelaItalic-webfont.eot');
  src: local('CandelaBookItalic'), url('/fonts/Candela/CandelaItalic-webfont.woff') format('woff'), url('/fonts/Candela/CandelaItalic-webfont.ttf') format('truetype'), url('/fonts/Candela/CandelaItalic-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'CandelaBold';
  src: url('/fonts/Candela/CandelaBold-webfont.eot');
  src: local('CandelaBold'), url('/fonts/Candela/CandelaBold-webfont.woff') format('woff'), url('/fonts/Candela/CandelaBold-webfont.ttf') format('truetype'), url('/fonts/Candela/CandelaBold-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CandelaBoldItalic';
  src: url('/fonts/Candela/CandelaBoldItalic-webfont.eot');
  src: local('CandelaBoldItalic'), url('/fonts/Candela/CandelaBoldItalic-webfont.woff') format('woff'), url('/fonts/Candela/CandelaBoldItalic-webfont.ttf') format('truetype'), url('/fonts/Candela/CandelaBoldItalic-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'UbuntuRegular';
  src: url('Ubuntu-R-webfont.eot');
  src: local('UbuntuRegular'), url('Ubuntu-R-webfont.woff') format('woff'), url('Ubuntu-R-webfont.ttf') format('truetype'), url('Ubuntu-R-webfont.svg#webontcceGD1qN') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuItalic';
  src: url('Ubuntu-I-webfont.eot');
  src: local('UbuntuItalic'), url('Ubuntu-I-webfont.woff') format('woff'), url('Ubuntu-I-webfont.ttf') format('truetype'), url('Ubuntu-I-webfont.svg#webontPxVORYT4') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'UbuntuBold';
  src: url('Ubuntu-B-webfont.eot');
  src: local('UbuntuBold'), url('Ubuntu-B-webfont.woff') format('woff'), url('Ubuntu-B-webfont.ttf') format('truetype'), url('Ubuntu-B-webfont.svg#webontssbCkuz5') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuBoldItalic';
  src: url('Ubuntu-BI-webfont.eot');
  src: local('UbuntuBoldItalic'), url('Ubuntu-BI-webfont.woff') format('woff'), url('Ubuntu-BI-webfont.ttf') format('truetype'), url('Ubuntu-BI-webfont.svg#ebfont3JT5vc7d') format('svg');
  font-weight: bold;
  font-style: italic;
}
.font { font-family: "CandelaBook", "Trebuchet MS", Trebuchet, Verdana, Tahoma, Arial, Sans-Serif; }
body {
  font-family: "CandelaBook", "Trebuchet MS", Trebuchet, Verdana, Tahoma, Arial, Sans-Serif;
  font-size: 0.9em;
  background-color: #777777;
  text-shadow: #111111 1px 1px 3px;
  color: #ffffff;
  margin: 0;
  padding: 1em;
}
html {
  margin: 0 auto;
  width: 780px;
  background-image: url('/css/img/black_tile.jpg');
}
a {
  text-decoration: none;
  text-shadow: #444444 1px 1px 3px;
}
a:hover {
  text-decoration: underline;
  color: red;
}
a:visited { color: #000080; }
a:visited:hover { color: red; }
code, pre {
  display: block;
  overflow: auto;
  font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, Courier, monospace;
  color: #ffffff;
  background-color: #222222;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 10px 10px 10px #333333;
  -moz-box-shadow: 10px 10px 10px #333333;
  -webkit-box-shadow: 10px 10px 10px #333333;
  padding: 0.8em;
  margin: 0.3em 0.1em 0.3em 0.1em;
}
fieldset { width: 10em; }
h1 { font-family: CandelaBook, Arial, sans-serif; }
h1 a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: #111111 2px 2px 4px;
}
h1 a:hover {
  text-decoration: underline;
  color: #ffffff;
}
h1 a:visited { color: #ffffff; }
h2 { font-family: CandelaBook, Arial, sans-serif; }
h2 a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: #111111 2px 2px 4px;
}
h2 a:hover {
  text-decoration: underline;
  color: #ffffff;
}
h2 a:visited { color: #ffffff; }
h3 { font-family: CandelaBook, Arial, sans-serif; }
h3 a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: #111111 2px 2px 4px;
}
h3 a:hover {
  text-decoration: underline;
  color: #ffffff;
}
h3 a:visited { color: #ffffff; }
h4 { font-family: CandelaBook, Arial, sans-serif; }
h4 a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: #111111 2px 2px 4px;
}
h4 a:hover {
  text-decoration: underline;
  color: #ffffff;
}
h4 a:visited { color: #ffffff; }
h5 { font-family: CandelaBook, Arial, sans-serif; }
h5 a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: #111111 2px 2px 4px;
}
h5 a:hover {
  text-decoration: underline;
  color: #ffffff;
}
h5 a:visited { color: #ffffff; }
img { border: none; }
input:focus {
  border: 1px solid #000000;
  padding: 1px;
}
textarea:focus {
  border: 1px solid #000000;
  padding: 1px;
}
input, textarea, select {
  border: 1px solid #cccccc;
  padding: 1px;
}
#comment_submit {
  font-size: 80%;
  text-shadow: #aaaaaa 1px 1px 1px;
  margin-left: 110px;
  margin-top: -10px;
  background-color: #dcdcdc;
  color: #000000;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#comment_submit:hover {
  text-shadow: #000000 1px 1px 4px;
  background-color: #ffffff;
}
#login_box {
  display: none;
  font-family: "CandelaBook", "Trebuchet MS", Trebuchet, Verdana, Tahoma, Arial, Sans-Serif;
  font-size: 0.9em;
  background-color: #777777;
  color: #ffffff;
  padding: 8px;
}
#login_box h1 { font-size: 1.2em; }
#welcome {
  padding: 2px 8px 2px 12px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #999999;
  color: #ffffff;
  font-size: 0.85em;
  border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
}
#heading { text-align: center; }
#title {
  font-size: 4.7em;
  margin: 0 0 -0.3em 0;
}
#title a:hover { text-decoration: none; }
#prev_entry {
  display: inline;
  margin: 0 1em 0 0;
}
#prev_entry:before { content: '« '; }
#next_entry {
  display: inline;
  margin: 0 0 0 1em;
}
#next_entry:after { content: " »"; }
#entry { font-size: 120%; }
.comment {
  min-height: 100px;
  position: relative;
  padding: 1em 0.5em 1.5em 0.5em;
  margin: 0 0.5em 0 0.5em;
  background-image: url(/css/img/arrow.png);
  background-repeat: no-repeat;
  background-position: 95px 21px;
}
.comment .avatar {
  float: left;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.comment_body {
  padding: 10px;
  color: #000000;
  background-color: #dcdcdc;
  text-shadow: #aaaaaa 1px 1px 1px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 7px 7px 10px #333333;
  -moz-box-shadow: 7px 7px 10px #333333;
  -webkit-box-shadow: 7px 7px 10px #333333;
  margin-top: 0;
  margin-left: 95px;
  margin-bottom: 1.2em;
}
.comment_body textarea {
  font-family: "CandelaBook", "Trebuchet MS", Trebuchet, Verdana, Tahoma, Arial, Sans-Serif;
  text-shadow: #aaaaaa 1px 1px 1px;
  color: #000000;
  width: 600px;
  border: 0;
  border-color: #dcdcdc;
  outline: 0;
  outline-color: #dcdcdc;
  background-color: #dcdcdc;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
.comment_footer {
  position: absolute;
  bottom: 0;
  margin-top: 5px;
}
