@import url('fonts.css');

.border_radius (@size: 8px) {
 border-radius: @size;
 -moz-border-radius: @size;
 -webkit-border-radius: @size;
}

.box_shadow (@hoffset: 10px, @voffset: 10px, @blur: 10px,  @color: #333) {
 box-shadow: @hoffset @voffset @blur @color;
 -moz-box-shadow: @hoffset @voffset @blur @color;
 -webkit-box-shadow: @hoffset @voffset @blur @color;
}

.font {
 font-family: "CandelaBook", "Trebuchet MS", Trebuchet, Verdana, Tahoma, Arial, Sans-Serif;
}

body
{
 .font;
 font-size: 0.9em;
 background-color: #999;
 text-shadow: #222 1px 1px 3px; 
 color: #FFF;
 margin: 0;
 padding: 1em;
}

html
{
 margin:0 auto;
 width:780px;
 background-image: url('/css/img/black_tile.jpg');
}

a {
 text-decoration: none;
 text-shadow: #666 1px 1px 3px;
 :hover {
  text-decoration: underline;
  color: red;
 }
 :visited {
  color: #000080;
 }
}

code, pre {
 display: block;
 overflow: auto;
 font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, Courier, monospace;
 color: #FFF;
 background-color: #222;
 .border_radius;
 .box_shadow;
 padding: 0.8em;
 margin: 0.3em 0.1em 0.3em 0.1em;
}

fieldset
{
 width: 10em;
}

h1, h2, h3, h4, h5 {
 font-family: CandelaBook, Arial, sans-serif;
 a {
  text-decoration: none;
  color: #FFF;
  text-shadow: #222 2px 2px 4px;
  :hover {
   text-decoration: underline;
   color: #FFF;
  }
  :visited {
   color: #FFF;
  }
 }
}

img
{
 border:none;
}

input:focus, textarea:focus 
{
 border: 1px solid #000;
 padding: 1px;
}

input, textarea, select
{
 border: 1px solid #CCC;
 padding: 1px;
}

#comment_submit {
 font-size: 80%;
 text-shadow: 1px 1px 1px #AAA;
 margin-left:110px;
 margin-top:-10px;
 background-color: #dcdcdc;
 color:#000;
 .border_radius(4px);
 :hover {
  text-shadow: 1px 1px 4px #000;
  background-color: #fff;
 }
}

#login_box {
 display: none;
 .font;
 font-size: 0.9em;
 background-color: #999;
 color: #FFF;
 padding: 8px;
 h1 {
  font-size: 1.2em;
 }
}

#welcome {
 padding: 2px 8px 2px 12px;
 margin: 0;
 position:absolute;
 top: 0;
 left: 0;
 background-color:#999;
 color: #FFF;
 font-size:0.85em;
 .border_radius(0 0 5px 0);
}

#heading {
 text-align: center;
}

#title {
 font-size: 4.7em;
 margin: 0 0 -0.3em 0;
}

#title a:hover {
 text-decoration: none;
}

#prev_entry {
 display:inline;
 margin:0 1em 0 0;
 :before {
  content: '« ';
 }
}

#next_entry {
 display:inline;
 margin:0 0 0 1em;
 :after {
  content: " »";
 }
}

#entry {
 font-size: 120%;
}

.comment {
 min-height: 100px;
 position:relative;
 padding:1em 0.5em 1.5em 0.5em;
 margin:0 0.5em 0 0.5em;
 background-image: url(/css/img/arrow.png);
 background-repeat:no-repeat;
 background-position: 95px 21px;
}

.comment img {
 float:left;
}

.comment_body {
 padding: 10px;
 color: #000;
 text-shadow: 1px 1px 1px #AAA;
 background-color: #DCDCDC;
 .border_radius;
 .box_shadow(7px, 7px, 10px, #333);
 margin-top: 0;
 margin-left: 95px;
 margin-bottom:1.2em;
 textarea {
  .font;
  text-shadow: 1px 1px 1px #AAA;
  color: #000;
  width: 600px;
  border: 0;
  border-color: #dcdcdc;
  outline: 0;
  outline-color: #dcdcdc;
  background-color: #dcdcdc;
  font-size: 100%;
  margin: 0;
  padding: 0;
 }
}

.comment_footer {
 position:absolute;
 bottom:0;
 margin-top:5px;
}
