AddCharset UTF-8 .css .less
AddType text/css less 

#Protect inc files from being read
<FilesMatch "\.(inc)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

#Rewrites
RewriteEngine On
Options +FollowSymlinks
################## Main Redirects
#Monthly archives
RewriteRule ^20*(.*)/(.*)/$ index.php?type=month&year=$1&month=$2 [L]

#Indivdual archives
RewriteRule ^20*(.*)/(.*)/(.*).html?$ index.php?type=entry&basename=$3 [L]

#Category archives
RewriteRule ^cat/(.*)/$ index.php?type=cat&basename=$1 [L]

#General Static Pages
RewriteRule ^page/(.*)/$ index.php?type=static&basename=$1 [L]

#Page Snippets
RewriteRule ^snip/(.*)$ index.php?type=snip&snip=$1 [L]

#API Access
RewriteRule ^api/(.*)$ index.php?type=api&request=$1 [L]

################## Page Specific Redirects
#About me 
RewriteRule ^about_me.html$ index.php?type=static&basename=about_me [L]
RewriteRule ^about/me/$ index.php?type=static&basename=about_me [L]
#About Cameron's Thoughts
RewriteRule ^about_this_site.html$ index.php?type=static&basename=about_this_site [L]
RewriteRule ^about/ct/$ index.php?type=static&basename=about_this_site [L]


<Files 403.shtml>
order allow,deny
allow from all
</Files>
