@textcolor: #FFF;
@hovercolor: #FF9900;
@bgcolor: #777;
/*@outbgimage: url('/css/img/black_tile.jpg');*/
@outbgimage: url('/css/img/random_grey_variations.png');
@bgimage: url('/css/img/concrete_wall.png');
@codecolor: #222;
@commenttextcolor: #000;
@commentbgcolor: #DCDCDC;
@menubgcolor: #384246;
@menuddbgcolor: #483D41;
@menuborder: #BCBCBC;
